.comment {
  padding: 1.5vw;
}

#add-comment {
  background-color: #ffffff;
  border: solid black 1.5px;
  border-radius: 4px;
  margin-bottom: 2vh;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.6;
}

#add-comment:hover {
  transition: 0.5s;
  background-color: #f6e770;
  opacity: 1;
}

#delete-button {
  background-color: #ffffff;
  border: solid black 1.5px;
  border-radius: 4px;
  margin-bottom: 2vh;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.6;
  padding: 1.5vw;
}

#delete-button:hover {
  transition: 0.5s;
  background-color: #ffffff;
  opacity: 1;
}
