.small-menu-classname {
  background-color: #888888;
  min-height: 5vh;
  padding-top: 2.5vh;
}

.nav {
  background-color: #888888;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.nav button {
  background-color: lightblue;
  margin: 2vw;
  border: none;
  border-radius: 2px;
  padding: 10px 24px;
  font-weight: 600;
  text-decoration: none;
}

.nav button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav input {
  background: none;
  border: none;
  border-bottom: solid white 1px;
  padding: 10px 24px;
}

.nav input:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.nav input::placeholder {
  color: white;
  opacity: 0.7;
}

#hamburger {
  font-size: 1.5em;
  margin-bottom: 1.5vh;
}

#close-menu {
  font-size: 1.5em;
  margin-bottom: 1vh;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: block;
    text-align: center;
  }
  .nav button {
    background-color: lightblue;
    height: 5vh;
    width: 60vw;
    margin-bottom: 2vw;
  }
  .nav input {
    height: 4vh;
    width: 58vw;
    margin-bottom: 0.9vw;
    margin-top: 1vw;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
  }

  .nav input::placeholder {
    color: white;
    opacity: 0.7;
    text-align: center;
  }
}
